@charse "utf-8"
/*CSS Document*/

.xxxxxx {
  width: 0;
}
.data-header {
  width: 100%;
  height: 98px;
  line-height: 98px;
  background-color: #fbfbfb;
  border-bottom: 1px solid #e6e6e6;
  /*background-image: -webkit-linear-gradient( 90deg, rgb(246, 246, 246) 0%, rgb(255, 255, 255) 100%);*/
}
.data-header > .logo {
  width: 70px;
  height: 98px;
  background-color: #222633;
  position: relative;
  float: left;
  text-align: center;
}
.data-header > .logo > a > img {
  margin-top: 24px;
}
.data-header > .title {
  display: inline-block;
}
.data-header > .title > h3 {
  font-size: 24px;
  color: #333333;
  margin-left: 30px;
}
.intelligent-semantic {
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 99px);
  padding-top: 30px;
}
.intelligent-semantic * {
  box-sizing: border-box;
}
.intelligent-semantic .zjts {
  width: 100%;
  height: calc(100% - 120px);
}
.intelligent-semantic .zjts img {
  max-width: 100%;
  max-height: 100%;
}
.intelligent-semantic .action-button {
  display: block;
  width: 106px;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #cccccc;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  border-color: #0066ff;
  background-color: #0066ff;
  color: #fff;
}
