@charset "utf-8";
/* CSS Document */
.border{border: 1px solid #ebebeb;}
.bg_fff{background-color: #fff;}
body{ background:#f4f4f4;}

/*意见反馈*/
.feedback_box{padding: 4%;}
.Feedback_text{width: 100%;border-radius: 3px;}
.Feedback_text textarea{width: 96%;height: 96%;line-height: 30px;padding: 2%;}
.Feedback_name{height: 50px;line-height: 50px;}
.Feedback_name input{width: 96%;height: 100%;padding-left: 4%;font-size: 20px;}
.Feedback_btn{height: 70px;line-height: 70px;text-align: center;background-color: #32b2a1;border-radius: 4px;}
.Feedback_btn input{width: 100%;height: 100%;color: #fff;font-size: 24px;}

.mar_b20{ margin-bottom:20px;}
@media (max-width: 480px){
/*意见反馈*/
.Feedback_text textarea, .Feedback_name input{font-size: 16px;}.Feedback_btn{height: 50px;line-height: 50px;}
.Feedback_btn input{font-size: 20px;}
.mar_b20{ margin-bottom:10px;}
.Feedback_text{height: 150px;font-size: 16px;}

}


