@charset "utf-8";
/* 首页头尾主框架 */

#footer{  background-color: #fff; border-top:solid 1px #bfbfbf;}
#footer ul li{  padding-top: 69px; padding-bottom: 10px; background: url() no-repeat center 18px; background-size: auto 46px; text-align: center; color:#666; font-size:22px; position:relative;}
#footer ul li.active{ color: #32b2a1; }
#footer ul li:nth-child(1){ background-image: url(../image/footIocn_home.png); }
#footer ul li:nth-child(2){ background-image: url(../image/footIcon_ranking.png); }
#footer ul li:nth-child(3){ background-image: url(../image/footIocn_find.png); }
#footer ul li:nth-child(4){ background-image: url(../image/footIocn_my.png); }
		
#footer ul li:nth-child(1).active{ background-image: url(../image/footIocn_home_hover.png); }
#footer ul li:nth-child(3).active{ background-image: url(../image/footIocn_find_hover.png); }
#footer ul li:nth-child(2).active{ background-image: url(../image/footIcon_ranking_hover.png); }
#footer ul li:nth-child(4).active{ background-image: url(../image/footIocn_my_hover.png); }
.dotred{ position:absolute; top:14px; right:35%; background:#fe0000; width:13px; height:13px; border-radius:100%;} 

/* 横向放置的手机及分辨率更小的设备 */
@media (max-width: 480px) { 
	#footer ul li{  padding-top: 33px; padding-bottom: 4px; background: url() no-repeat center 6px; background-size: auto 23px;font-size:13px;}
.dotred{  top:7px; right:30%; width:6px; height:6px; border-radius:100%;} 
 }