@charset "UTF-8";
@import "variable";
body{
  min-height: 100vh;
  padding-bottom: 0.96rem;
  background: #fff;
}

/*发现页面头部 开始*/
.find-header{
  width: 100%;
  height: 1rem;
  margin-bottom: 0.3rem;
  border-bottom:1px solid $bdc;
  .nav-container{
    width: 6rem;
    height: 100%;
    margin-left: 0.3rem;
    line-height: 0.92rem;
    font-size: 0.34rem;
    color: $fc6;
  }
  @at-root {
    .swiper-slide{
      text-align: center;
      border-bottom: 0.07rem solid transparent;

      &.swiper-slide-active{
        color:$fcred;
        border-color:$fcred;
      }
    }

    .btn-add{
      flex: 1;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      height: 100%;
      border-left:1px solid $bdc;
      img{
        width: 0.4rem;
        height: 0.4rem;
      }
    }
  }
}
/*发现页面头部 结束*/

/*列表内容 开始*/
.list-box{
  width: 100%;
  height: 1.8rem;
  padding: 0 0.3rem;
  margin-bottom: 0.3rem;
  overflow: hidden;
  &:first-child{
    margin-top: 0.3rem;
  }
  .lf-part{
    width: 2.4rem;
    height: 1.8rem;
    margin-right: 0.3rem;
    overflow: hidden;
    img{
      width: 2.4rem;
      height: 1.8rem;
    }
  }

  .rt-part{
    flex: 1;
    height: 100%;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    @at-root .list-title{
      font-size: 0.34rem;
      color: $fc3;
      line-height: 0.48rem;
      height: 1rem;
      -webkit-line-clamp: 2;
    }

    @at-root .btm-msg{
      -webkit-align-items: center;
      align-items: center;
      height: 0.5rem;
      color:$fc9;
      font-size: 0.3rem;
      .lf-detail{
        -webkit-align-items: center;
        align-items: center;
        img{
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
          margin-right: 0.15rem;
        }
        span{
          width: 5em;
          height: 0.4rem;
          &.read-msg{
            width: auto;
          }
        }
      }

      .collect-box{
        -webkit-align-items: center;
        align-items: center;
        color:$fc9;
        img{
          width: 0.26rem;
          height: 0.24rem;
          margin-right: 0.15rem;
        }
      }


    }
  }
}
/*列表内容 结束*/

/*加载更多，退出按钮，显示历史周报按钮 开始*/
.load-more,.btn-quit,.show-weekly{
  width: 100%;
  height: 0.8rem;
  padding: 0 0.3rem;
  margin: 0.3rem 0 0.55rem;
  a{
    display: block;
    line-height: 0.78rem;
    border: 1px solid $bdc;
    text-align: center;
    color:$fcred;
    font-size: 0.28rem;
  }
}
/*加载更多，退出按钮，显示历史周报按钮 结束*/

/*公共固定底部 开始*/
.main-foot{
  width: 100%;
  height: 0.96rem;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  background: #fff;
  border-top: 1px solid $bdc;
  font-size: 0.24rem;
  nav{
    width: 100%;
    a{
      width: 20%;
      height: 0.95rem;
      -webkit-align-items: center;
      align-items: center;
      color: $fcred2;
      i{
        width: 0.4rem;
        height: 0.5rem;
        margin-bottom: 0.05rem;
      }

      &.active{
        color:$fcred;
      }

      &.tab-find i{
        background: url("../images/tab-icon1.png") no-repeat;
        background-size: 0.42rem 0.32rem;
        background-position: bottom;
      }
      &.tab-find.active i{
        background: url("../images/tab-icon11.png") no-repeat;
        background-size: 0.42rem 0.32rem;
        background-position: bottom;
      }

      &.tab-trace i{
        background: url("../images/tab-icon2.png") no-repeat;
        background-size: 0.37rem 0.37rem;
        background-position: bottom;
      }
      &.tab-trace.active i{
        background: url("../images/tab-icon21.png") no-repeat;
        background-size: 0.37rem 0.37rem;
        background-position: bottom;
      }

      &.tab-weekly i{
        background: url("../images/tab-icon3.png") no-repeat;
        background-size: 0.31rem 0.36rem;
        background-position: bottom;
      }
      &.tab-weekly.active i{
        background: url("../images/tab-icon31.png") no-repeat;
        background-size: 0.31rem 0.36rem;
        background-position: bottom;
      }

      &.tab-user i{
        background: url("../images/tab-icon4.png") no-repeat;
        background-size: 0.32rem 0.36rem;
        background-position: bottom;
      }
      &.tab-user.active i{
        background: url("../images/tab-icon41.png") no-repeat;
        background-size: 0.32rem 0.36rem;
        background-position: bottom;
      }

      &.tab-task i{
        background: url("../images/tab-icon5.png") no-repeat;
        background-size: 0.37rem 0.37rem;
        background-position: bottom;
      }
      &.tab-task.active i{
        background: url("../images/tab-icon51.png") no-repeat;
        background-size: 0.37rem 0.37rem;
        background-position: bottom;
      }

    }
  }
}
/*公共固定底部 结束*/

.btn-unsubscribe,
.btn-delete{
  align-self: center;
  -webkit-align-self: center;
  width: 1.3rem;
  height: 0.5rem;
  line-height: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.28rem;
  color:$fcred;
  text-align: center;
  @include gradientBlockVertical();
  &:focus{
    background: #F5F1F8;
  }
}

.btn-order{
  align-self: center;
  -webkit-align-self: center;
  width: 1.3rem;
  height: 0.5rem;
  line-height: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.28rem;
  color:$fcred;
  text-align: center;
  @include gradientBlockVertical();
  &:focus{
    background: #F5F1F8;
  }
   &::before{
     content:'订阅';
   }

    &.active{
      color:#999;
      background: #fff;
      border:none;

      &::before{
        content:'已订阅';
      }
    }
}

.btn-subscribe{
  display: inline-block;
  width: 1.3rem;
  height: 0.5rem;
  line-height: 0.5rem;
  background: none;
  border:1px solid #fff;
  border-radius: 0.25rem;
  font-size: 0.28rem;
  color:#fff;
  text-align: center;

  &.active{
    background: rgba(255,255,255,0.2);
    border: none;
    &:after{
      content:'已订阅';
    }
  }

  &:after{
    content:'+ 订阅';
  }

  &:active,
  &:visited{
    color:#fff;
  }

}

/*周报页面 开始*/
.weekly-head,.daily-paper{
  position: relative;
  width: 100%;
  height: 2.6rem;
  background: #fff;
  //opacity: 0.8;
 // filter:alpha(opacity=80);
  font-size: 0.36rem;
  color:$fc3;

  .shade-box{
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/weekly-bg1.png") no-repeat;
    background-size: 100% 100%;

    &.opt-2{
      background: url("../images/weekly-bg2.png") no-repeat;
      background-size: 100% 100%;

      .weekly-title::after{
        content: '民宿加一周要闻';
      }
    }
  }


  .weekly-title{
    width: 5.9rem;
    height: 1.2rem;
    padding: 0 0.3rem 0 0.15rem;
    line-height: 1rem;
    background: url("../images/rect.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    -webkit-line-clamp: 1;

    &::after{
      content:'汇聚行业最新动态';
    }
  }
}

.daily-tab{
  width: 100%;
  height: 1.5rem;
  line-height: 0.65rem;
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 0.34rem;
  color:#666;

  .opt-daily,.opt-weekly{
    width: 2.38rem;
    height: 0.95rem;
    margin: 0.45rem 0.4rem auto;
    background: url("../images/daily-paper2.png") no-repeat center;
    background-size: 100% 100%;

    &.active{
      background: url("../images/daily-paper1.png") no-repeat center;
      background-size: 100% 100%;
      color:#fff;
    }
  }

  .opt-weekly{
    background: url("../images/weekly-1.png") no-repeat center;
    background-size: 100% 100%;

    &.active{
      background: url("../images/weekly-2.png") no-repeat center;
      background-size: 100% 100%;
      color:#fff;
    }
  }
}

 .weekly-box{
    display: block;
    width: 100%;
    height: 1.52rem;
    color:#000;

   &:active{
     background: #F7F7F7;
     color:$fcred;
   }

   > div{
     -webkit-justify-content: flex-start;
     justify-content: flex-start;
     -webkit-align-items: center;
     align-items: center;
     width: 6.9rem;
     height: 100%;
     margin: 0 0.3rem;
     border-bottom:1px solid $bdc;

     > i{
       width: 0.6rem;
       height: 0.6rem;
       margin: 0 0.3rem 0 0.2rem;
       background: url("../images/icon-news.png") no-repeat center;
       background-size: 0.47rem 0.55rem;
     }
   }

    .weekly-rpart{
      flex:1;
      height: 100%;
      -webkit-justify-content: center;
      justify-content: center;

      .weekly-tit{
        width: 100%;
        height: 0.42rem;
        margin-bottom:0.15rem;
        font-size: 0.34rem;
        -webkit-line-clamp: 1;
      }

      .weekly-time{
        font-size: 0.28rem;
        color:$fc9;
        span:first-child{
          margin-right: 0.36rem;
        }
      }
    }
 }

.weekly-container{
  display: none;

  .weekly-box{

    height: 1.8rem;

    &:active{
      background: #F7F7F7;
      color:$fcred;
    }

    > div > i{
      align-self: flex-start;
      width: 0.6rem;
      height: 0.6rem;
      margin: 0.3rem 0.3rem 0 0.2rem;
      background: url("../images/weekly-icon.png") no-repeat center;
      background-size: 0.48rem 0.53rem;
    }

    .weekly-rpart .weekly-tit{
      margin-top: 0;
      height: 0.9rem;
      -webkit-line-clamp: 2;
    }

  }
}
/*周报页面 结束*/

.trace-tips{
  width: 6.9rem;
  height: 0.66rem;
  line-height: 0.66rem;
  margin: 0.3rem auto 0;
  background:-moz-linear-gradient(#E0828F, #98525C);
  background:-webkit-linear-gradient(#E0828F, #98525C);
  background:-o-linear-gradient(#E0828F, #98525C);
  background: linear-gradient(#E0828F, #98525C);
  border-radius: 0.05rem;
  color:#fff;
  text-align: center;
  font-size: 0.3rem;

  img{
    width: 0.28rem;
    height: 0.28rem;
    margin-right: 0.1rem;
    vertical-align: middle;
  }
}

.task-square-box{
  display: none;
}






















