.nav-findmore > li:nth-child(1) .list-name i {
  background: url("../images/list-icon/list-1.png") no-repeat center;
  background-size: 0.35rem 0.42rem;
}

.nav-findmore > li:nth-child(2) .list-name i {
  background: url("../images/list-icon/list-2.png") no-repeat center;
  background-size: 0.35rem 0.34rem;
}

.nav-findmore > li:nth-child(3) .list-name i {
  background: url("../images/list-icon/list-3.png") no-repeat center;
  background-size: 0.42rem 0.43rem;
}

.nav-findmore > li:nth-child(4) .list-name i {
  background: url("../images/list-icon/list-4.png") no-repeat center;
  background-size: 0.47rem 0.43rem;
}

.nav-findmore > li:nth-child(5) .list-name i {
  background: url("../images/list-icon/list-5.png") no-repeat center;
  background-size: 0.43rem 0.37rem;
}

.nav-findmore > li:nth-child(6) .list-name i {
  background: url("../images/list-icon/list-6.png") no-repeat center;
  background-size: 0.35rem 0.44rem;
}

.nav-findmore > li:nth-child(7) .list-name i {
  background: url("../images/list-icon/list-7.png") no-repeat center;
  background-size: 0.46rem 0.48rem;
}

.nav-findmore > li:nth-child(8) .list-name i {
  background: url("../images/list-icon/list-8.png") no-repeat center;
  background-size: 0.43rem 0.46rem;
}

.nav-findmore > li:nth-child(9) .list-name i {
  background: url("../images/list-icon/list-9.png") no-repeat center;
  background-size: 0.37rem 0.31rem;
}

.nav-findmore > li:nth-child(10) .list-name i {
  background: url("../images/list-icon/list-10.png") no-repeat center;
  background-size: 0.46rem 0.39rem;
}

.nav-findmore > li:nth-child(11) .list-name i {
  background: url("../images/list-icon/list-11.png") no-repeat center;
  background-size: 0.42rem 0.35rem;
}

.nav-findmore > li:nth-child(12) .list-name i {
  background: url("../images/list-icon/list-12.png") no-repeat center;
  background-size: 0.44rem 0.42rem;
}

.nav-findmore > li:nth-child(13) .list-name i {
  background: url("../images/list-icon/list-13.png") no-repeat center;
  background-size: 0.44rem 0.35rem;
}

.nav-findmore > li:nth-child(14) .list-name i {
  background: url("../images/list-icon/list-14.png") no-repeat center;
  background-size: 0.36rem 0.46rem;
}

.nav-findmore > li:nth-child(15) .list-name i {
  background: url("../images/list-icon/list-15.png") no-repeat center;
  background-size: 0.4rem 0.4rem;
}

.nav-findmore > li:nth-child(16) .list-name i {
  background: url("../images/list-icon/list-16.png") no-repeat center;
  background-size: 0.46rem 0.32rem;
}

.nav-findmore > li:nth-child(17) .list-name i {
  background: url("../images/list-icon/list-17.png") no-repeat center;
  background-size: 0.41rem 0.44rem;
}

.nav-findmore > li:nth-child(18) .list-name i {
  background: url("../images/list-icon/list-18.png") no-repeat center;
  background-size: 0.33rem 0.48rem;
}

.nav-findmore > li:nth-child(19) .list-name i {
  background: url("../images/list-icon/list-19.png") no-repeat center;
  background-size: 0.41rem 0.38rem;
}
.nav-findmore > li:nth-child(20) .list-name i {
  background: url("../images/list-icon/list-20.png") no-repeat center;
  background-size: 0.32rem 0.33rem;
}

body {
  padding-bottom: 0;
}

.nav-findmore {
  width: 100%;
  background: #fff;
}
.nav-findmore > li {
  width: 100%;
  height: 1.2rem;
  padding: 0 0.3rem;
  border-bottom: 1px solid #F3F3F3;
  -webkit-align-items: center;
  align-items: center;
}
.nav-findmore > li:last-child {
  border: none;
}
.nav-findmore > li .list-name {
  font-size: 0.36rem;
  -webkit-align-items: center;
  align-items: center;
}
.nav-findmore > li .list-name i {
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.2rem;
}
.nav-findmore > li .attention {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 1.3rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.28rem;
  color: #98525c;
  border: 1px solid transparent;
  background-clip: padding-box,border-box;
  background-origin: padding-box,border-box;
  background-image: linear-gradient(#fff, #fff), linear-gradient(#D87886, #98535D);
}
.nav-findmore > li .attention img {
  width: 0.2rem;
  height: 0.2rem;
  margin-right: 0.1rem;
}
.nav-findmore > li .attention.active {
  border: none;
  background: #F5F1F8;
}
.nav-findmore > li .attention.active img {
  display: none;
}

/*# sourceMappingURL=findMore.css.map */
